body {
  background-image: url(./../images/landing_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.selling-points {
  float: right;
  padding-top: 10%;
  padding-right: 5vw;
  width: 40%;
  color: white;
}

.hero-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 30%;
  color: white;
  font-size: 7vw;
  line-height: 7vw;
  float: left;
  width: 40%;
  text-align: center;
}


@media screen and (max-width:800px) {
  .selling-points, .landing {
    width: 100%;
  }
}
