.library-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10% 10% 10%;
}

.library-column {
  flex: 20%;
  padding: 0 4px;
}

.library-column img {
  margin-top: 10px;
  vertical-align: middle;
  max-width: 95%;
  box-shadow: 4px 4px 5px gray;
  margin-bottom: 4px;
}

.library-column a {
  color: black;
  text-decoration-line: none;
  font-size: 15px;
}

.album-cover div {
  text-align: left;
  padding-left: 5%;
  font-size: 13px;
  line-height: 15px;
}

.album-title {
  font-weight: bold;
  font-size: 15px !important;
  padding: 6px;
  margin-top: 3px;
}

@media screen and (max-width: 800px) {
  .library-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .library-column {
    flex: 100%;
    max-width: 100%;
  }
}
