 @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Poppins');

 body {
   font-family: 'Poppins', san-serif;
 }

 nav {
   list-style-type: none;
   position: fixed;
   width: 100%;
   top: 0;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(255,255,255, 0.7);
 }

 .logo {
   float: left;
   padding: 0.6vw 0vw 0.1vw 01vw;
 }

.library {
  float: right;
  padding: .5vw 1.5vw .2vw 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 600px){
  .logo,
  .library {float:none;}
}
